@{
    ViewData["Title"] = "Home Page";
}

 <div class="container content">
    <h1>Welcome to My University Project</h1>
    <p>This is a sample template with a video background and icons.</p>
    <div class="row">
        <div class="col-md-4">
            <i class="fas fa-graduation-cap fa-3x"></i>
            <h3>Education</h3>
            <p>Learn more about our educational programs.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-laptop-code fa-3x"></i>
            <h3>Technology</h3>
            <p>Explore our technology courses and resources.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-users fa-3x"></i>
            <h3>Community</h3>
            <p>Join our community and connect with others.</p>
        </div>
       @*  <a asp-controller="Users" asp-action="Index" asp-route-id="@item.Id" class="btn btn-sm bt">
            <i class="bi bi-trash3"></i>
        </a> *@
    </div>
</div> 

